@model ISEFront.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
@using ISEFront.App_GlobalResources

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    var bankIdProvider = loginProviders.Where(x => x.Caption == "Norsk Bank ID").FirstOrDefault();

    <div class="row">
        <div class="jumbotron">
            <img src="~/Content/images/conscialogo.png" /><h1>@content.LoginPortalTitle</h1>
            <p>@content.LoginPortalMessage</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>@content.ChooseAnElectronicID</h3>
                </div>
                <div class="panel-body">
                    @if (bankIdProvider != null)
                    {
                        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { id = "bankIdForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="provider" value="@bankIdProvider.AuthenticationType" />
                                <div class="row loginoption" onclick="document.getElementById('bankIdForm').submit();">
                                    <div class="col-lg-3 logoimageframe">
                                        <img src="~/Content/images/norskbankid_48px_high.png" />
                                    </div>
                                    <div class="col-lg-9">
                                        <h4>@content.BankIDTitle</h4>
                                        <p>@content.BankIDDescription</p>
                                    </div>
                                </div>
                        }
                    }
                    <div class="row loginoption">
                        <div class="col-lg-3 logoimageframe">
                            <img src="~/Content/images/norskminid_48px_high.png" />
                        </div>
                        <div class="col-lg-9">
                            <h4>@content.MinIDTitle</h4>
                            <p>@content.MinIDDescription</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="flagContainer pull-right">
                <a href="@Url.Action("ChangeLoginPageLanguage", "Account", new { SelectedLanguage = "en", ReturnUrl = Model.ReturnUrl }, null)">
                   <img id="clipUS" src="~/Content/images/flags.jpg" />
                </a>
            </div>
            <div class="flagContainer pull-right">
                <a href="@Url.Action("ChangeLoginPageLanguage", "Account", new { SelectedLanguage = "no", ReturnUrl = Model.ReturnUrl }, null)">
                    <img id="clipNO" src="~/Content/images/flags.jpg" />
                </a>
            </div>
        </div>
    </div>
}
